li {
    text-align: center;
    border: 2px solid ;
    border-radius: 50px;
    list-style: none;
    display: inline-block;
    width: 70%;
    height: 20px;
    padding: 5px;
    margin: 5px;
    background: black;
    color: white;
    
}
ul{
    max-width: 100px;
    min-width: 66px;
}
.menu{
    width: 30%;
}
.content{
    width: 70%;
}