body *{
    /* border: 1px solid orange; */
    margin: 2px;
    padding: 2px;}
    
    html {
        scroll-behavior: smooth;
      }

li {
    text-align: center;
    border: 2px solid ;
    border-radius: 50px;
    list-style: none;
    display: inline-block;/*block kimidi amma dediyin qeder yer tutur*/
    width: 70%;
    height: 20px;
    padding: 5px;
    margin: 5px;
    color: black;
    background: black;
}
a{
    color: white;
    text-decoration: none;

}
ul{position: fixed;
    top: 22%;
    left: 11%;
    display: inline-block;
    width: 100px;

}
.leftpart{
    /* height: 200px;
    position: relative; */  /* static kimi standartdi amma yerini deyismey olur*/
    display: inline-block;
    width: 29%;
    height: 100vh;
}
.rightpart{
    display: inline-block;
    width: 69%;
    height: 200vh;
}
.center{
    text-align: center;
}
.height700{
    height: 100vh;
}
img{
    display: block;
    margin: auto;
}

