body{margin: 0px;}
    
    html {
        scroll-behavior: smooth;
      }

li {
    text-align: center;
    border: 2px solid ;
    border-radius: 50px;
    list-style: none;
    display: inline-block;/*block kimidi amma dediyin qeder yer tutur*/
    width: 70%;
    height: 20px;
    padding: 5px;
    margin: 5px;
    color: black;
    background: black;
}
a{
    color: white;
    text-decoration: none;

}
ul{position: fixed;
    top: 32%;
    left: 8%;
    display: inline-block;
    width: 100px;

}
.fix{
    position: fixed;
    top: 13%;
    left: 10%;
    display: inline-block;
}
.leftpart{
    /* height: 200px;
    position: relative; */  /* static kimi standartdi amma yerini deyismey olur*/
    display: inline-block;
    width: 29%;
    height: 100vh;
}
.rightpart{
    background: rgb(228, 228, 228);
    display: inline-block;
    width: 69%;
    height: 200vh;
}
.center{
    text-align: center;
}
.height700{
    height: 100vh;
}
img{
    display: block;
    margin: auto;
}
#home{
    background-image: url(4.jpg);
    background-position: center;
    background-size: cover;
}
#about{
    padding: 100px;
}
.box{
    padding-top: 10%;
}